* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

.container {
    margin-left: 5px;
}

body {
    background: black;
    font-family: 'Times New Roman', Times, serif;
}

header .container {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    margin: auto;
}

/*Navbar*/
.logo {
    color: var(--red);
    font-family: 'Arial';
    font-size: 18px;
    margin-left: 100px;
    margin-top: -90px;
}

header nav a {
    color: rgb(255, 255, 255);
    margin: auto -20px;
    margin-top: -85px;
    margin-left: 50px;
    font-size: 14px;
}

header nav a:hover {
    color: rgb(126, 126, 126);

}

.nav-item {
    font-size: 18px;
    margin-top: -88px;
}

.nav-item i {
    margin-right: 8px;
}

.itemb {
    margin-top: -85px;
    margin-right: 60px;
}

.item-cart {
    margin-right: 10px;
}

.app {
    display: flex;
    margin-left: -1250px;
    margin-top: 50px;
    margin-bottom: auto;
}

.app h1 {
    font-size: 16px;
}

.app h2 {
    font-size: 18px;
    color: rgba(19, 59, 0, 0.61)
}

.app .btn {
    background-color: rgb(144, 243, 30);
    border: none;
    padding: 5px 40px;
    cursor: pointer;
    transition: .3s;
    margin-left: 50px;
    margin-top: -10px;
}

.app i {
    color: rgba(11, 59, 1, 0.61);
    margin-left: 10px;
}

/*Section GamePass*/
.movie-main {
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 65%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url('/img/xbox.jpg');
    background-size: cover;
    width: 100%;
}

.movie-main .container {
    width: 65%;
    padding-bottom: 230px;
    padding-left: 100px;
}

.movie-main .title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.movie-main .description {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    font-size: 18px;
}

.movie-main p {
    width: 65%;
}

.movie-main .all-plans {
    margin-top: 10px;
    margin-left: 42px;
    font-size: 8px;
}

/*Botoes Gamepass*/
.btn {
    font-family: "Arial Black";
    background-color: rgb(144, 243, 30);
    border: none;
    padding: 10px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s;
    margin-top: 10px;
}

.btn h3 {
    color: rgba(1, 43, 3, 0.61);
}

.buttons i {
    color: rgba(11, 59, 1, 0.61);
    margin-left: 10px;
}

.buttons p {
    font-size: 18px;
    margin-top: 50px;
}

.btn:hover {
    background-color: rgb(59, 57, 57);
    color: rgb(255, 255, 255);
}

.btn i {
    margin-right: 8px;
}

.image-background {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url('/img/halloInfinite__.jpg');
    background-size: cover;
    width: 100%;
}

/*Carousel*/
.carousel-movies {
    margin-top: -80px;
    margin-left: 40px;
}

.carousel-movies h1 {
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 50px;
    margin-left: 400px;
}

.box-movie {
    height: 50%;
    width: 50%;
    display: flex;
}
